body {
	background: url("./images/background.jpg") bottom center;
	background-size: cover;
}

.h1 {
	color: #e2710d;
	font-family: "Helvetica Neue";
	font-size: 55pt;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
}

.img {
	width: 200px;
	height: 300px;
	display: inline-block;
	position: relative;
	top: 5px;
	left: 45%;
	border: 3px solid aquamarine;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	border-radius: 45px;
}

p {
	font-size: 20px;
	font-family: "Helvetica Neue";
	color: antiquewhite;
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
}

.p1 {
	display: inline-block;
	position: relative;
	top: 35px;
		}

.p2 {
	display: inline-block;
	position: relative;
	top: 20px;

	}

.p3 {
	display: inline-block;
	position: relative;
	top: 0px;

	}
